<a href="https://colab.research.google.com/github/patilprajwal/first-contributions/blob/master/anom_detec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Task 1: Project Overview and Import Libraries
#Task 2: Load and Inspect the S&P 500 Index Data
#Task 3: Data Preprocessing
#Task 4: Temporalize Data and Create Training and Test Splits
#Task 5: Build an LSTM Autoencoder
#Task 6: Train the Autoencoder
#Task 7: Plot Metrics and Evaluate the Model
#Task 8: Detect Anomalies in the S&P 500 Index Data

In [2]:
import numpy as np
import tensorflow as tf
import pandas as pd
pd.options.mode.chained_assignment = None
import seaborn as sns
from matplotlib.pylab import rcParams
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

%matplotlib inline

sns.set(style='whitegrid', palette='muted')
rcParams['figure.figsize'] = 14,8
np.random.seed(1)
tf.random.set_seed(1)

print('TEnsorflow version', tf.__version__)

TEnsorflow version 2.3.0

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning:

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [3]:
df = pd.read_csv('/content/datasets_55485_106148_spx.csv', parse_dates=['date'])
df.head()

        date   close
0 1986-01-02  209.59
1 1986-01-03  210.88
2 1986-01-06  210.65
3 1986-01-07  213.80
4 1986-01-08  207.97